body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: var(--page-width);
}

.main-background {
  height: 100%;
  position: fixed;
  inset: auto 0;
  top: 0;
  z-index: -1;
}

.page-player-wrapper {
  position: relative;
  overflow: hidden;
}

.page-player-inner {
  display: flex;
  flex-direction: row;
  width: max-content;
  transform: translateX(0);
  transition: transform .2s ease;
}

.page-player-inner.show-audio {
  transform: translateX(-1000px);
}

.page {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: var(--bg);
}

.page-content {
  min-height: 100vh;
  flex-shrink: 0;
  padding-bottom: 40px;
}

.page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fetch-error-message {
  font-weight: 500;
  color: red;
  text-align: center;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.spin-animation {
  animation: spin infinite 20s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading span {
  color: white;
  font-size: 20px;
}

.loader {
  width: 15px;
  margin: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  color: var(--theme);
  box-shadow: -20px 0px, 20px 0px;
  animation: l18 1s infinite;
}

@keyframes l18 {
  25% {
    box-shadow: -20px -20px, 20px 20px
  }

  50% {
    box-shadow: 0px -20px, 0px 20px
  }

  75% {
    box-shadow: 20px -20px, -20px 20px
  }

  100% {
    box-shadow: 20px 0px, -20px 0px
  }
}

.avatar-wrapper {
  width: 100px !important;
}

.avatar-wrapper.default {
  background-color: #3a83f2;
}

.tr-bg {
  transition: background-color .2s ease-in-out;
}

.textarea-autosize {
  display: block;
  overflow: hidden;
  resize: none;
  outline: none;
  text-align: justify;
  white-space: pre-wrap;

  flex: 1;
  background-color: unset;
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 16px;
  width: 100%;
}


.preview-img-wrapper {
  width: inherit;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-img {
  height: 100%;
}

.preview-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.preview-img-wrapper:hover .preview-cover {
  opacity: 1;
}