.artist-page .page-top {
    margin: 30px 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 30px;
}

.artist-page .page-top .meta {
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 100%;
}

.artist-page .meta .name {
    color: var(--theme);
    font-size: 20px;
}

.artist-page .meta .songs-count {
    color: var(--theme-2);
    font-size: 16px;
}

.artist-page .logout-btn,
.artist-page .upload-song-btn {
    margin-top: 40px;
    border-radius: 8px;
    padding: 6px 10px;
    background-color: var(--theme-2);
}

.artist-page .upload-song-btn:hover {
    color: var(--theme-2);
    background-color: var(--theme);
}

.artist-page .logout-btn:hover {
    color: var(--theme-2);
    background-color: red;
}

.artist-page .profile-controllers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}


.artist-page .avatar-wrapper {
    width: 150px;
}


.artist-page .song-preview .song-title {
    color: var(--theme-2) !important;
}

.artist-page .pagination-btns {
    margin: 30px 20px;
}