header {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1000;
    width: var(--page-width);
    padding: 0 20px;
    height: var(--header-height);
    background: #1e2736d8;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #2b3648;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    height: 36px;
    background: var(--theme);
    border-radius: 2px;
    position: relative;
}

header nav a:not(:last-child)::after,
header nav button:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    height: 36px;
    width: 1px;
    background: linear-gradient(0, var(--theme-dark) 0%, rgba(0, 0, 0, 0) 90%);
}

header nav span {
    color: var(--theme-2);
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 400;
}

header .search-btn {
    padding: 10px;
}