.artists-title,
.songs-title {
    color: white;
    font-weight: 600;
    margin: 30px 20px 20px;
}

.songs-title {
    margin: 50px 20px 20px;
}

.artists-container,
.songs-container {
    margin: 0 20px;
    display: flex;
}

.artists-container {
    overflow-x: auto;
    flex-direction: row;
    gap: 40px;
}

.songs-container {
    flex-direction: column;
    gap: 10px;
}

