.modal-overlay {
    position: fixed;
    top: 0;
    z-index: 50;
    pointer-events: none;
    overflow-x: hidden;
}

.modal-overlay.show {
    pointer-events: auto;
}

.modal-content {
    width: var(--page-width);
    height: 100vh;
    padding: 20px;
    padding-top: calc(var(--header-height) + 20px);
    padding-bottom: calc(var(--footer-height) + 20px);
    background-color: var(--bg);
    transform: translateX(100%);
    transition: transform .2s ease;
}

.modal-overlay.show .modal-content {
    transform: translateX(0);
}
