.modal-overlay.playlist .playlist-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-overlay.playlist .empty-playlist-title {
    color: white;
    text-align: center;
}

.playlist-item {
    cursor: grab;
}

.playlist-item:active {
    cursor: grabbing;
}

.playlist-item.drag-over {
    border-top: 2px solid #00bcd4;
}