.song-preview {
    background-color: #46547047;
    border-radius: 8px;
    width: 100%;
    container-type: inline-size;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    cursor: pointer;
}

.song-preview:hover {
    background-color: #63759987;
}

.song-preview>* {
    flex-shrink: 0;
}

.song-preview.active {
    background-color: #465470c1;
}

.song-preview .drag-btn {
    margin-right: 6px;
}

.song-preview .play-pause-btn {
    width: 36px;
    margin-right: 16px;
}

.song-preview .meta {
    color: white;
    font-size: 18px;
    margin-right: 6px;
}

.song-preview .artist-link,
.song-preview .song-title {
    flex-shrink: 1;
    max-width: max-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-preview .song-title {
    width: max-content;
    color: var(--theme);
    font-size: 16px;
}




.song-preview .right-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.song-preview span {
    color: var(--theme-3-light);
    margin-right: 10px;
}

.song-preview .add-to-playlist-btn,
.song-preview .download-btn,
.song-preview .remove-from-playlist-btn {
    margin-right: 0;
    width: 40px;
    height: 36px;
    display: flex;
    border-radius: 8px;
}

.song-preview .add-to-playlist-btn svg,
.song-preview .download-btn svg,
.song-preview .remove-from-playlist-btn svg {
    transition: stroke .2s ease-in-out;
}


.song-preview .add-to-playlist-btn:hover,
.song-preview .download-btn:hover {
    background-color: rgba(var(--theme-rgb), 0.3);
}

.song-preview .add-to-playlist-btn:hover svg,
.song-preview .download-btn:hover svg,
.song-preview .remove-from-playlist-btn:hover svg {
    stroke: white;
}

.song-preview .remove-from-playlist-btn:hover {
    background-color: rgba(255, 0, 0, 0.7);
}



@container (max-width: 600px) {
    .song-preview .release-date,
    .song-preview .size,
    .song-preview .duration {
        display: none;
    }
}