.song-preview {
    background-color: #46547047;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    cursor: pointer;
}

.song-preview:hover {
    background-color: #63759987;
}

.song-preview.active {
    background-color: #465470c1;
}

.song-preview .block-l,
.song-preview .block-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.song-preview .drag-btn {
    margin-right: 6px;
}

.song-preview .play-pause-btn {
    width: 36px;
    margin-right: 16px;
}

.song-preview .meta {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.song-preview .meta * {
    color: white;
    font-size: 18px;
}

.song-preview .meta .song-title {
    color: var(--theme);
    font-size: 16px;
}




.song-preview .block-r span {
    color: var(--theme-3-light);
    margin-right: 10px;
}

.song-preview .add-to-playlist-btn,
.song-preview .download-btn,
.song-preview .remove-from-playlist-btn {
    margin-right: 0;
    width: 40px;
    height: 36px;
    display: flex;
    border-radius: 8px;
}

.song-preview .add-to-playlist-btn svg,
.song-preview .download-btn svg,
.song-preview .remove-from-playlist-btn svg {
    transition: stroke .2s ease-in-out;
}


.song-preview .add-to-playlist-btn:hover,
.song-preview .download-btn:hover {
    background-color: rgba(var(--theme-rgb), 0.3);
}

.song-preview .add-to-playlist-btn:hover svg,
.song-preview .download-btn:hover svg,
.song-preview .remove-from-playlist-btn:hover svg {
    stroke: white;
}

.song-preview .remove-from-playlist-btn:hover {
    background-color: rgba(255, 0, 0, 0.7);
}