.modal-overlay.upload .modal-content {
    height: 100%;
}

.upload-form {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.upload-form input,
.upload-form textarea {
    border: none;
    outline: none;
    background: none;
}

.upload-form .l {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.upload-form label {
    color: var(--theme);
    font-size: 18px;
    margin-bottom: 6px;
}

.upload-form .lyrics-label {
    margin-top: 16px;
}

.upload-form .title-input {
    height: 50px;
}

.upload-form .lyrics-textarea {
    flex: 1;
    overflow-y: auto;
    display: block;
    resize: none;
    text-align: justify;
    white-space: pre-wrap;
}

.upload-form .title-input,
.upload-form .lyrics-textarea,
.upload-form .file-info,
.upload-form .other-inputs {
    color: var(--theme-2);
    padding: 12px 16px;
    border-radius: 12px;
    background-color: var(--theme-3);
}

.upload-form .r {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.upload-form .tabs-wrapper {
    flex: 1;
}

.upload-form .tab-sound-file {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upload-form .drag-drop-field {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: underline;
    border-radius: 12px;
    background-color: lavender;
    transition: background-color .2s ease-in-out;
}

.upload-form .drag-drop-field.drag {
    background-color: rgb(203, 203, 255);
}


.upload-form .selected-file {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.upload-form .selected-file .file-name {
    color: white;
    font-size: 16px;
    text-decoration: underline;
}

.upload-form .preview-img-wrapper {
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-form .preview-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.upload-form .preview-img-wrapper:hover .preview-cover {
    opacity: 1;
}

.upload-form .preview-img {
    width: 100%;
    height: 100%;
}

.upload-form .selected-file .change-file-btn {
    color: white;
    background: var(--theme);
    border-radius: 8px;
    padding: 8px 12px;
}


.file-info,
.other-inputs {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.other-inputs .genre-input {
    color: white;
    border-bottom: 1px solid white;
}

.other-inputs .date-input {
    color: white;
}

.upload-form .submit-btn {
    background-color: var(--theme);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: 0;
}



.upload-form .error-message {
    color: red;
    font-size: 12px;
}

.upload-form input.error,
.upload-form textarea.error {
    border: 1px solid red;
}